@import "tailwindcss";
@import "devicon/devicon.min.css";

@theme {
  --color-win-desktop: #d4d0c8;
  --color-win-panel: #c0c0c0;
  --color-win-bg:#008080;
  --color-win-accent: #000050 ;
  --color-win-main:  #000080;
  --color-win-selection-text: #ffffff;
  --color-win-text: #000000;
  --color-win-muted: #808080;
  --color-win-border-light: #ffffff;
  --color-win-border-dark: #000000;
  --color-win-inset: #dfdfdf;
  --animate-blink: blink 1s steps(2, start) infinite;
  --animate-retroSpin: retroSpin 0.8s steps(4) infinite;
  --animate-pingRetro: pingRetro 1.5s steps(3) infinite;
  --animate-flipVertical: flipVertical 1.5s steps(4) infinite;
}

@keyframes flipVertical {
  0% {
    transform: rotateY(0deg);
  }

  25% {
    transform: rotateY(90deg);
  }

  50% {
    transform: rotateY(180deg);
  }

  75% {
    transform: rotateY(270deg);
  }

  100% {
    transform: rotateY(360deg);
  }
}

@keyframes pingRetro {
  0%,
  100% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes blink {
  0%, 50% {
    opacity: 1;
  }

  51%, 100% {
    opacity: 0;
  }
}

@keyframes retroSpin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


@utility border-3d {
  @apply border-2 border-white shadow-[2px_2px_0_black];
}

@utility shadow-3d {
  @apply shadow-[inset_2px_2px_0_#808080];
}
@utility shadow-deep {
  @apply shadow-[inset_4px_4px_0_#808080,inset_-2px_-2px_0_#000000];
}
@utility sectionGrid {
  @apply grid grid-cols-1 min-[1200px]:grid-cols-6 gap-5;
}

@utility bg-retro-grid {
  background-color: #008080;

  background-image:
    linear-gradient(
      to right,
      rgba(255, 255, 255, 0.22) 1px,
      transparent 1px
    ),
    linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.22) 1px,
      transparent 1px
    );

  background-size: 28px 28px;
}

@utility retro-corners {
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    border-color: #000;
    border-style: solid;
  }

  /* Top-left */
  &::before {
    top: 20px;
    left: 20px;
    border-width: 3px 0 0 3px;
  }

  /* Bottom-right */
  &::after {
    right: 20px;
    bottom: 20px;
    border-width: 0 3px 3px 0;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scrollbar-gutter: stable;
  user-select: none;
}

/** Windows 98 scrollbar */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

/** Vertical + horizontal track */
::-webkit-scrollbar-track {
  background: var(--color-win-panel);
  border-left: 2px solid var(--color-win-border-dark);
  box-shadow: inset 1px 1px 0 var(--color-win-muted);
}

/** Thumb */
::-webkit-scrollbar-thumb {
  background: var(--color-win-panel);
  border: 2px solid var(--color-win-border-light);
  border-right-color: var(--color-win-border-dark);
  border-bottom-color: var(--color-win-border-dark);
  box-shadow: inset 1px 1px 0 var(--color-win-inset);
}

/** Hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-win-inset);
}

/** Pressed */
::-webkit-scrollbar-thumb:active {
  background: var(--color-win-muted);
}

/** Scroll buttons */
::-webkit-scrollbar-button {
  width: 16px;
  height: 16px;
  background: var(--color-win-panel);
  border: 2px solid var(--color-win-border-light);
  border-right-color: var(--color-win-border-dark);
  border-bottom-color: var(--color-win-border-dark);
}

body {
  cursor: url("/cursors/normal.cur"), auto;
  font-family: var(--font-vt323), monospace;
  scroll-behavior: smooth;
}

a,
button {
  cursor: url("/cursors/pointer.cur"), pointer;
}

a.cursor-not-allowed {
  cursor: url("/cursors/unavailable.cur"), not-allowed;
}

input,
textarea {
  cursor: url("/cursors/text.cur"), text;
}

button:disabled {
  cursor: url("/cursors/unavailable.cur"), not-allowed;
}

a:disabled {
  cursor: url("/cursors/unavailable.cur"), not-allowed;
}

p,h1,h2,h3,button,a {
  line-height: 1;
}