@import "tailwindcss";
@import "devicon/devicon.min.css";

@theme {
  --color-win-desktop: #d4d0c8;
  --color-win-panel: #c0c0c0;
  --color-win-bg:#008080;
  --color-win-accent: #000050 ;
  --color-win-main:  #000080;
  --color-win-selection-text: #ffffff;
  --color-win-text: #000000;
  --color-win-muted: #808080;
  --color-win-border-light: #ffffff;
  --color-win-border-dark: #000000;
  --color-win-inset: #dfdfdf;
}

@utility border-3d {
  @apply border-2 border-white shadow-[2px_2px_0_black];
}

@utility shadow-3d {
  @apply shadow-[inset_2px_2px_0_#808080]
}

body {
  cursor: url("/cursors/normal.cur"), auto;
  font-family: var(--font-vt323), monospace;
}

a,
button {
  cursor: url("/cursors/pointer.cur"), pointer;
}

input,
textarea {
  cursor: url("/cursors/text.cur"), text;
}

button:disabled {
  cursor: url("/cursors/unavailable.cur"), not-allowed;
}

p,h1,h2,h3 {
  line-height: 1;
}